@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Squada+One&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: "Montserrat", sans-serif;
    background-color:#ffffff;



}


li, a {
    font-size: 18px;
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
}

header{
    width: 100%;
    background-color:#174e82;
    height: 70px;
}

.header-inner{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    box-sizing: border-box;
}

.logotipo{
    color:#ffffff;
    font-size: 25px;
    font-weight: bold;
   

}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 0;
    padding: 0;
}


.nav-links li{
    display: inline-block;
    padding: 0px 8px;
    justify-content: flex-end;
}

.nav-links li a:hover{
    color: #39a5a3;

}

@media(max-width:1800px){
    li, a {
   font-size: 18px;
 }

}


.acervotitulo h1{
    text-align: center;
    padding-top: 10px;
    margin: 10px auto;
    font-size: 25px;
    font-weight:bold;
    color: #174e82;
    max-width: 600px;
     border-bottom: 3px solid #178281;
}

.acervoconteudo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px auto;
    max-width: 1400px;
    gap: 65px; 
    padding: 0 0;
    background-color: #174e82;
}


.titulodestaque h2{
    text-align: left;
    padding: 8px 8px;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #174e82;
}

.destaque{
    max-width: 1300px;
    margin: 10px auto;
    align-items: left;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    
}

.colunas-destaque{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    gap: 30px;
     margin-bottom: 10px;
}



figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img{
    width: 120px;
    height: 170px;
    object-fit: cover;
    text-align: left;
    display: block;
    border-radius: 6px;
}

figcaption{
    text-align:center;
}

.tituloacervogeral{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    max-width: 1400px;
    color:#171882;
    margin: 10px auto;
}


.textogeral p{
    text-align: justify;
   margin-left: 60px;
    text-align: justify;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    gap: 10px;
    color:#ffffff;
    
}



.imggeral img {
    width: 500px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}



.referenciacont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px auto;
    margin-bottom: 10px;
    max-width: 1400px;
    gap: 65px;
    padding: 0px 0px;
    border: 2px solid #178281;
    border-radius: 8px;

}


.tituloref{
     font-size: 25px;
    font-weight: 600;
    text-align: left;
    max-width: 1400px;
    color:#171882;
    margin: 10px auto;
}


.textoref p{
    text-align: justify;
   margin-left: 60px;
    text-align: justify;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    gap: 10px;
}

.imgref img{
    width: 500px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}



.gibitecacont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px auto;
    max-width: 1400px;
    gap: 65px;
    padding: 0px 0px;
    background-color: #174e82;

}

.titulogibi{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    max-width: 1400px;
   color:#171882;
    margin: 10px auto;
}

.textogibi{
    text-align: justify;
   margin-left: 60px;
    text-align: justify;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    gap: 10px;
    color: #ffffff;

}


.imggibi img{
    width: 500px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}



#footer_contener{
    padding: 10px 10px;
    background-color: #174e82;

}

.titulo_footer{
    
   font-size: 20px;
   font-weight: 500;
   text-align: left;
   color:#ffffff;
}
#footer_contacts p{
    font-size: 15px;
    font-weight: 500;
   text-align: left;
   color:#ffffff;
  
}

#footer_contacts{
    max-width: 1200px;
    height: 40px;
    margin: 0 auto;
    padding: 10px 20px;

}

.footer-nav {
    margin-top: 10px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
     margin: 10px 10px;
    margin-left: auto;
    margin-right: auto;



    

}

.footer-nav a{
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;

   
}

.footer-nav a:hover{
     color: #39a5a3;
}

.footer_direitos{
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    color: #ffffff;
}
#footer_social_midia{
     margin: 0;
     padding: 10px 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}





















