@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Squada+One&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: "Montserrat", sans-serif;
    background-color:#ffffff;



}


li, a {
    font-size: 18px;
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
}

header{
    width: 100%;
    background-color:#174e82;
    height: 70px;
}

.header-inner{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    box-sizing: border-box;
}

.logotipo{
    color:#ffffff;
    font-size: 25px;
    font-weight: bold;
   

}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 0;
    padding: 0;
}


.nav-links li{
    display: inline-block;
    padding: 0px 8px;
    justify-content: flex-end;
}

.nav-links li a:hover{
    color: #39a5a3;

}

@media(max-width:1800px){
    li, a {
   font-size: 18px;
 }

}


.noteventitulo{
    text-align: center;

}


.noteventitulo h1{
    font-size:25px;
    margin: 10px auto;
  padding-top: 10px;
  border-bottom: 3px solid #178281;
  max-width: 600px;
  color: #174e82;
}

.subtitulo{
    font-size:20px;
    font-weight: 500;
    color: #178281;
    
}


.noticiasbiblio{

    max-width: 1400px;
    margin:6px auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}


img.imgnoticia{
   width: 450px;
   padding: 10px 15px;
   height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8%;
}

.conteudonoti h3{
    color:#174e82;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    max-width: 600px;
}

.conteudonoti p{

max-height: 190px;
text-align: justify;
overflow: scroll;
overflow-x: hidden;
font-size: 17px;
font-weight: 500;
color:#174e82;
padding: 10px auto;
padding-right: 30px;
gap: 65px;

}

.noticiabiblio2{
    max-width: 1400px;
    margin:20px auto;
    display: flex;
    justify-content: flex-start;
}

img.imgnoticia2{
    width: 450px;
   padding: 10px 15px;
   height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8%;
}


.conteudonoti2 h3{
     color:#174e82;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    max-width: 600px;
}

.conteudonoti2 p{
max-height: 190px;
text-align: justify;
overflow: scroll;
overflow-x: hidden;
font-size: 17px;
font-weight: 500;
color:#174e82;
padding: 10px auto;
padding-right: 30px;
gap: 65px;
}


.container-evento{
    margin:0 auto;
    width: 600px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    padding: 20px 10px;
    box-sizing: border-box;
}


figure{
display: block;
width: 450px;
height: 480px;
margin: 0;
padding: 9px;
text-align: center;}

figure img{
    width: 400px;
    border-radius: 8%;
}

figure p{
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    margin:2px auto;
    padding: 2px 20px;
    color: #174e82;
}

.textofig{
    border-bottom: 2px solid #178281;
}

.horario{
    margin: 2px auto;
    padding: 2px 15px;
}
figcaption{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: #171882;
    margin-bottom: 10px;
}




#footer_contener{
    padding: 10px 10px;
    background-color: #174e82;

}

.titulo_footer{
    
   font-size: 20px;
   font-weight: 500;
   text-align: left;
   color:#ffffff;
}
#footer_contacts p{
    font-size: 15px;
    font-weight: 500;
   text-align: left;
   color:#ffffff;
  
}

#footer_contacts{
    max-width: 1200px;
    height: 40px;
    margin: 0 auto;
    padding: 10px 20px;

}

.footer-nav {
    margin-top: 10px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
     margin: 10px 10px;
    margin-left: auto;
    margin-right: auto;



    

}

.footer-nav a{
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;

   
}

.footer-nav a:hover{
     color: #39a5a3;
}

.footer_direitos{
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    color: #ffffff;
}
#footer_social_midia{
     margin: 0 ;
     padding: 0 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}